<!DOCTYPE html>
<html
	xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
>

<head>
	<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<title>Empresta Aí</title>
</head>

<body>
	<h1 class="header center blue-text" th:text="'Objetos '+${usuario.nome}"></h1> 
	<table>
    	<thead>
    		<th>Nome Objeto</th>
    		<th>Descrição</th>
    		<th>Action</th>
    	</thead>
    	<tbody>
    		<tr th:each="objeto:${usuario.objetosUsuario}" th:if="${objeto.emprestado != true }">
    			<td th:text="${objeto.nome}"></td>
    			<td th:text="${objeto.descricao}"></td>
    			<td><a  class="waves-effect waves-light btn" th:href="@{'/pedirEmprestado/'+${objeto.id}}">Pedir Emprestado</a></td>
    		</tr>
    	</tbody>
    </table>
<hr/>

<script src="/webjars/jquery/2.2.4/jquery.js"></script>
<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
</body>
</html>