<!DOCTYPE html>
<html
	xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
>

<head>
	<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<title>Empresta Aí</title>
</head>

<body>
	<h1 class="header center blue-text">Buscar Amigos</h1> 
	<table>
    	<thead>
    		<th>Nome Usuario</th>
    		<th>Action</th>
    	</thead>
    	<tbody>
    		<tr th:each="usuario:${usuarios}">
    			<td th:if="${usuario.idUsuario != usuario_logado.idUsuario }" th:text="${usuario.nome}"></td>
    			<td th:if="${usuario.idUsuario != usuario_logado.idUsuario }"><a  class="waves-effect waves-light btn" th:href="@{'/verObjetos/'+${usuario.idUsuario}}">Ver Objetos</a></td>
    		</tr>
    	</tbody>
    </table>
<hr/>

<script src="/webjars/jquery/2.2.4/jquery.js"></script>
<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
</body>
</html>